@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*,::after,::before{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.title{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #FCE22A;
    height: 4rem;

}
.text{
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 21, 21, .8);
    transform: translate(-100%, 0);
    opacity: 0;
    transition: transform ease-in-out .5s, opacity ease .5s;
    z-index: 1;

}
.show{
    transform: translate(0, 0);
    opacity: 1;
    /*margin-left: -62rem;*/
}
.nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: #FCE22A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}
.nav__link{
    padding: 2rem;
    display: block;
    width: 100%;
    text-align: center;
}
.nav__link:hover{
    transition: all ease .8s;
    background-color: #FCE22A;
    color: #000;
    font-weight: bold;
}

.section{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 100%;
   height: 100vh;
   padding: 1rem;
   max-width: 1200px;
   min-height: 100vh;
}

.section__p{
    margin-top: 5rem;
    font-size: 1.5rem;
}

.hamburger{
    position: sticky;
    bottom: 1vh;
    left:92vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #FCE22A;
    transition: ease-in all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.hamburger__nav{
    display: block;
    position: relative;
    cursor: pointer;
}

.hamburger:hover{
    scale: 1.2;
    background-color: #fce32abb;
}
/* ------------------------------------- */
     /*Whatch's Styles */
/* ------------------------------------- */
.digital-watch{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 25rem;
    height: 10rem;
    padding: 1rem;
    background-color: #26282B;
    border-radius: 1.5rem;
}

.digital-text{
    color: #E4DCCF;
    font-size: 1.7rem;
    font-family: Tinos;
}
.watch{
    font-family: 'Tinos', serif;
    font-size: 2rem;
}
.buttons{
    text-align: center;
    padding: .5rem;
}
button{
    padding: .5rem;
    outline: none;
    background-color: #FF8B13;
    border: 0;
    border-radius: 2rem;
    transition: all ease-in-out .5s;
}
button:hover{
    background-color: #ff8d13a2;
    cursor: pointer;
}

/* ------------------------------------- */
     /*Section two styles */
/* ------------------------------------- */

.table{
    display: flex;
    width: 100%;
    min-height: 50vh;
    background-color: #000;
}

.ball{
    margin: auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #FCE22A;
}


/* ------------------------------------- */
     /*Scroll TOp button  */
/* ------------------------------------- */
.scroll-top-btn{
    text-align: center;
    line-height: 4rem;
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(6.5rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #FCE22A;
    font-size: 2rem;
    font-weight: bold;
    transition: all .3s ease-out; 
}
.scroll-top-btn:hover{
    background-color: #26282B;
    color: #FCE22A;
    cursor: pointer;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}